In [24]:
def even(num):
    return num%2 == 0

In [26]:
even(4)

True

In [193]:
def even_check(num_list):
    mylist = []
    for number in num_list:
        if number % 2 == 0:
            mylist.append(number)
        else:
            pass
        
            
    return mylist

In [195]:
even_check([1,2,3,10,6])

[2, 10, 6]

In [199]:
work_hours = [("rayanne",40),("IdrissJR",30), ("ariane", 60)]
for name,hours in work_hours:
    print(name)

rayanne
IdrissJR
ariane

In [217]:
def true_false(num):
    if true_false == True :
       return "Hello"
    else:
        return "Goodbye"

true_false("ariane")

def myfunc(*args):
    mylist = []
    for num in args :
       if num%2 == 0:
           mylist.append(num)
       else: pass
           
    return mylist

In [265]:
myfunc(2,3,4,5,6)

[2, 4, 6]

In [399]:
def myfunc(mystring):
    myemptystring = ''
    myindex = 0
    for letter in mystring:
        if myindex%2 == 0:
            myemptystring += letter.lower()
        else :
            myemptystring += letter.upper()
        myindex += 1
            
    print(myemptystring)

In [401]:
myfunc("ariane")

aRiAnE

In [387]:
def myfunc(word):
    index = 0
    result = ''

    for letter in word:
        if index % 2 == 0:
            result += letter.lower()
        else:
            result += letter.upper()
        index += 1
    print(result)

In [389]:
myfunc("ariane")

aRiAnE

In [441]:
def myfunc(mystring):
    myemptystring = ''
    for index,letter in enumerate(mystring):
        if index %2 == 0:
            myemptystring = myemptystring + letter.lower()
        else :
            myemptystring = myemptystring + letter.upper()
            
    return myemptystring

In [443]:
myfunc('ariane')

'aRiAnE'

In [430]:
def myfunc(word):
    result = ""
    for index, letter in enumerate(word):
        if index % 2 == 0:
            result += letter.lower()
        else:
            result += letter.upper()
    return result

In [445]:
def myfunc(mystring):
    myemptystring = ""
    for index,letter in enumerate(mystring):
        if index %2 == 0:
            myemptystring = myemptystring + letter.lower()
        else :
            myemptystring = myemptystring + letter.upper()
            
    print(myemptystring)

In [447]:
myfunc('ariane')

aRiAnE

In [ ]:
def myfunc(mystring):
    myemptystring = ''
    myindex = 0
    for letter in mystring:
        if myindex%2 == 0:
            myemptystring += letter.lower()
        else :
            myemptystring += letter.upper()
        myindex += 1
            
    print(myemptystring)